# .mailmap file for Group SY5-Poulet
Florian Vincent <florian.vincent@etu.u-paris.fr> vincentf <florian.vincent@etu.u-paris.fr>
Florian Vincent <florian.vincent@etu.u-paris.fr> VINCENT florian <florian.vincent@etu.u-paris.fr>
Florian Vincent <florian.vincent@etu.u-paris.fr> florian <florian@debian>

Iyan Nazarian <iyan.nazarian@etu.u-paris.fr> NAZARIAN iyan <iyan.nazarian@etu.u-paris.fr>
Iyan Nazarian <iyan.nazarian@etu.u-paris.fr> Iyan Nazarian <36068362+FxmousKid@users.noreply.github.com>

Theo Polgar <theo.polgar@etu.u-paris.fr> POLGAR theo <theo.polgar@etu.u-paris.fr>
Theo Polgar <theo.polgar@etu.u-paris.fr> Theo <theo.polgar@etu.u-paris.fr>
Theo Polgar <theo.polgar@etu.u-paris.fr> Theo <theo@polgar.fr>
